.body{
    background-image: url(../data/imagenes/fraces_img/fondogift.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

p{
    font-weight: bold;
}

.box{
    position: absolute;
    width: 100vw;
    height: 80vh;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .button-row > div {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    width: 160px;
    height: 50px;
    margin: 0 15px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .button-row > div > a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-25px);
    -moz-transform: translateZ(-25px);
    -ms-transform: translateZ(-25px);
    -o-transform: translateZ(-25px);
    transform: translateZ(-25px);
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    transition: transform 0.25s;
  }
  .button-row > div > a::before, .button-row > div > a::after {
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 160px;
    height: 50px;
    position: absolute;
    border: 5px solid black;
    box-sizing: border-box;
    content: attr(title);
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .button-row > div > a::before {
    background-color: #000;
    color: #fff;
    -webkit-transform: rotateY(0deg) translateZ(25px);
    -moz-transform: rotateY(0deg) translateZ(25px);
    -ms-transform: rotateY(0deg) translateZ(25px);
    -o-transform: rotateY(0deg) translateZ(25px);
    transform: rotateY(0deg) translateZ(25px);
  }
  .button-row > div > a::after {
    background-color: #fff;
    border-color: #000;
    color: #000;
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    transform: rotateX(90deg) translateZ(25px);
  }
  .button-row > div > a:hover {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
    -moz-transform: translateZ(-25px) rotateX(-90deg);
    -ms-transform: translateZ(-25px) rotateX(-90deg);
    -o-transform: translateZ(-25px) rotateX(-90deg);
    transform: translateZ(-25px) rotateX(-90deg);
  }

.box_cheast{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: moveDown 0.5s ease forwards;
}


@keyframes moveDown {
    from {
        top: -20%;
    }
    to {
        top: 50%;
    }
}

.box_cheast-amin{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    left: 50%;
    top: -20%;
    transform: translate(-50%, -50%);
}


.cheast_img{
    width: 100%;
}

.box_grieta{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 53%;
}

.box_grieta_display{
  display: none;
}

.box_grieta_display_block{
  display: block;
}

.grieta_img{
    width: 100%;
}

.box_pergamino{
  display: flex;
  margin-left: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  text-align: center;
  transition: transform 2s ease;
}

.anti_box_pergamino{
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 385px;
  height: 275px;
  text-align: center;
  transition: transform 2s ease, width 2s ease, height 2s ease;
}

.anti_box_pergamino-anim{
  transform: scale(1);
  width: 35px;
  height: 25px;
}

.box_pergamino-anim{
  width: 35px;
  height: 25px;
  transform: scale(11);
}


.box_pergamino-display{
  display: none;
}

.box_grieta_display_block{
  display: block;
}

.anti_box_grieta_display_block{
  display: block;
}

.pergamino_img{
  width: 100%;
}

.box_pergamino_c{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 250px;
}

.pergamino_div{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 27.5px;
  margin-top: 60px;
}

.pergamino_div1{
  text-align: center;
  margin-left: 37px;
  width: 270px;
  height: 78px;
}

.pergamino_div_p_{
  opacity: 0;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  animation: fadein 5s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pergamino_div_p{
  opacity: 1;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  animation: fadein2 3s ease;
}

@keyframes fadein2 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.pergamino_div2{
  margin-top: 142px;
  margin-left: 37px;
  width: 270px;
  height: 30px;
  text-align: center;
}

.letters_display_none{
  display: none;
}

.box_ex{
  position: absolute;
  left: 94.5%;
  top: 20%;
  width: 25px;
  height: 25px;
}

.box_ex img {
  width: 100%;
}

.box_ex_none{
  display: none;
}

.box_ex_block{
  display: block;
}

