*{
    box-sizing: border-box;
    user-select: none;
    
}

.body{
    margin: 0;
    padding: 0;
    user-select: none;
}

.bodyoverflow{
    overflow: hidden;
}


/*------------------------heaader----------------*/

.background{
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
}

.header{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    left: -100vw;
    transition: left .4s ease;
}
.header--active{
    left: 0px;
}

.header_back{
    display: block;
    position: absolute;
    width: 70%;
    height: 100vh;
    background-color: #e0e5ec;
    box-sizing: border-box;
    left: 0px;
    transition: left 4s ease;
}


.back_nav{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
}

.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_li{
    margin-top: 10px;
    margin-left: 12px;
    font-size: 1.1em;
}
.nav_li a{
    text-decoration: none;
    color: #000;
}

.nav_li_color_item a{
    text-decoration: none;
    color: pink;
    font-weight: bold;
    -webkit-text-stroke: 0.5px #000000;
}

.nav_li_span{
    width: 30px;
    height: 30px;
} 

.header_profile{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    background-color: pink;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
}

.profile_img{
    position: absolute;
    background-image: url(../imagenes/index_img/mamili.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    border: 3px outset white;
    margin-left: 10px;
    left: 0;
}

.profile_ex{
    display: flex;
    justify-content: end;
    height: 100%;
    width: 70%;
}

.ex_img{
    margin: 4%;
    background-image: url(../imagenes/nav_img/exx.png);
    background-size: contain;
    width: 20px;
    height: 20px;
}

.profile_img::before{
    text-align: center;
    content:'♥YAMILI♥';
    font-weight: bold;
    position: absolute;
    left: 100%;
    top: 30%;
    margin-left: 10px;
}

a{
    text-align: center;
    display: flex;
    align-items: center;
}

.nav_li_span{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right:9px;
}

.nav_li_inicio{
    background-image: url(../imagenes/nav_img/inicio.png);
}

.nav_li_galeria{
    background-image: url(../imagenes/nav_img/galeria.png);
}


.nav_li_calendario{
    background-image: url(../imagenes/nav_img/calendario.png);
}

.nav_li_cuentos{
    background-image: url(../imagenes/nav_img/cuentos.png);
}

.nav_li_diagnosticos{
    background-image: url(../imagenes/nav_img/diagnostico.png);
}

.nav_li_musica{
    background-image: url(../imagenes/nav_img/musica.png);
}

.nav_li_sad{
    background-image: url(../imagenes/nav_img/triste.png);
}

.nav_li_fraces{
    background-image: url(../imagenes/nav_img/fraces.png);
}

.nav_li_metas{
    background-image: url(../imagenes/nav_img/metas.png);
}

.nav_li_viajes{
    background-image: url(../imagenes/nav_img/viajes.png);
}


/*------------------------heaader----------------*/


