.mainhead{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.mainhead_hambur{
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
    height: 50%;
    width: 30px;
    left: 0%;
}

.mainhead_title{
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-size: 3em;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

p{
    margin-top: 2px;
    font-family: 'Courier New', Courier, monospace;
}
/* ----------------------------------------------- */
.main{
    margin: 0;
    padding: 0;
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    z-index: 5;
}

.mainhead_hambur img{
    box-shadow: 10px 10px 30px rgb(255, 255, 255);
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 10px;
}

/* -----gallery.-------- */


.galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 7px;
}

.galery img {
    width: 100%; 
    height: 100%;
    border-radius: 15px;
 }

 .mostrar{
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.308);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
 }

 .mostrar-display-none{
    display: none;
 }

 .mostrar-display-block{
    display: block;
 }

 .monstra_div{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    height: auto;
    max-width: 335px;
    max-height: 335px;
 }

 .monstra_div img { 
    border-radius: 15px;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

